@using ColorPop.Core.Models
@using ColorPop.Core.Enums

<div class="board">
    @if (Session?.State?.Board is not null)
    {
        <table class="board-table">
            @for (int r = 0; r < Session.State.Board.Rows; r++)
            {
                <tr>
                    @for (int c = 0; c < Session.State.Board.Cols; c++)
                    {
                        var pos = new Position(r, c);
                        var displayToken = GetDisplayToken(pos);
                        var animClass = GetAnimClass(pos);

                        <td class="cell @GetCollapseClass(pos.Col)"
                            @onclick="() => OnCellClicked(pos)">
                            <div class="token @GetTokenColorClass(displayToken) @animClass"></div>
                        </td>
                    }
                </tr>
            }
        </table>
    }
</div>

