@using MudBlazor

<div class="player-card-shell">
    <MudCard Outlined="true" Class="player-card pa-4">
        <MudCardContent>
            <div class="profile-header">
                <MudAvatar Size="Size.Large">
                    <img src="https://i.pravatar.cc/100" alt="Player avatar" />
                </MudAvatar>

                <MudText Typo="Typo.h6">
                    User Name
                </MudText>
            </div>
        </MudCardContent>

        <MudCardContent>
            <MudChart ChartType="ChartType.Bar"
                      InputLabels="@_labels"
                      ChartSeries="@_series"
                      Height="220px" />
        </MudCardContent>
    </MudCard>
</div>
