@using ColorPop.Application.Interface
@using ColorPop.Web.Components.Board
@using ColorPop.Web.Components.Player
@using MudBlazor

@page "/Game"
@inject IGameSession Session

@implements IDisposable

<div class="game-page">
    <MudAppBar Elevation="0" Class="game-appbar" Style="position: static;">
        <MudText Typo="Typo.h5" Class="game-appbar-title">ColorPop</MudText>
        <MudSpacer />
        <MudText Typo="Typo.subtitle1" Class="game-appbar-status">
            Turn: @Session.State.TurnNumber, @Session.State.CurrentPlayer.Name
        </MudText>
    </MudAppBar>

    <MudContainer MaxWidth="MaxWidth.False" Class="pa-4">
        <MudStack Spacing="3" Class="game-content">
            <div class="game-layout">
                <div class="player-card-column">
                    <PlayerCard IsInitialized="false" />
                </div>

                <div class="board-column">
                    <BoardView Session="Session" />
                </div>

                <div class="player-card-column">
                    <PlayerCard />
                </div>
            </div>
        </MudStack>
    </MudContainer>
</div>

@code {
    protected override void OnInitialized()
    {
        Session.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        Session.OnChange -= StateHasChanged;
    }
}
